/**
 * Typesafe training theme for reveal.js.
 * Author: Markus Jura
 */
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

.reveal pre {
  margin: 20px auto;
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: .55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
}

.reveal pre code {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  line-height: 1.2em;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal section {
  line-height: 1.2em;
}

.reveal section[data-background] h1, .reveal section[data-background] h2, .reveal section[data-background] h3 {
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3); }
.reveal section[data-background] h4, .reveal section[data-background] h5, .reveal section[data-background] h6, .reveal section[data-background] p, .reveal section[data-background] div, .reveal section[data-background] ul {
  color: white; }

.reveal .backgrounds:after {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  content: url("../../images/typesafe-logo.png");
}

@media (max-width: 1024px) {
  .reveal .backgrounds:after {
    content: "";
  }
}

.reveal .footnote {
  margin-top: 1em; }

.reveal img {
  border: none !important;
  box-shadow: none !important;
  max-width: 95%;
  max-height: 95%;
}

.reveal section > ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal section > ul ul {
  list-style-type: square;
  display: block;
  margin-left: 40px;
}

.reveal section > ul > li {
  margin-bottom: 10px;
}

.h2Uppercase .reveal h2 {
  text-transform: uppercase; }

.reveal img.koan {
  float: right;
  background: none; }

.reveal a:not(.image).agendaItem {
  color: #103a51; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #103a51; }

.reveal em {
  font-style: italic;
}

.reveal bold {
  font-style: bold;
}

.reveal code {
  font-family: monospace;
}

::selection {
  color: white;
  background: #627886;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #103a51;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h2 {
  font-size: 2.11em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #19aacf;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #62d0ec;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #11728b; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #103a51;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #19aacf;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #19aacf; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #19aacf; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #19aacf; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #19aacf; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #62d0ec; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #62d0ec; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #62d0ec; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #62d0ec; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #19aacf;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #19aacf; }

 /*********************************************
 * TRANSLATION
 *********************************************/
 .lang-nav-bar {
  position: absolute;
  z-index: 99999999999;
  left: 0;
  right: 0;
  bottom: 45px;
  text-align: center;
 }
 .lang-nav-text {
   color: #19aacf;
   font-size: 0.5em !important;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 0.3s,opacity 0.3s linear;
 }
 .lang-nav-text.active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
 }

 @media (max-width: 1024px) {
  .lang-nav-bar {
    bottom: 25px;
  }
  .lang-nav-text {
    font-size: 0.3em !important;
  }
}
